body{
	font: 20px Arial, sans-serif;
}

.navbar{

	background-color: #4DC672;
}

.quem_somos{
	background-color: #5CC44A;
	color: #fff;
}

.margin{
	padding-bottom: 50px;
	padding-top: 10px;
}

.parceiros{
	background-color: #90C148;
	color: #fff;
	
}

.servicos{
	background-color: #fff;
}

.bg-footer{
	background-color: #000;
	color: #fff;
	margin-top: 30px;
}